.col1{
    background-color: aqua;
    height: 100vh;
}
.col2{
    background-color: blueviolet;
    height: 100vh;
}
.col3{
    background-color: aquamarine;
    height: 100vh;
}
.col4{
    background-color: cadetblue;
    height: 100vh;
}