.col1{
    background-color: rgb(114, 199, 232);
    height: 90vh;
}
.col1{
    background-image: url(img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.col2{
    background-color: rgb(37, 149, 177);
    
}
.login{
    body{
        background-color: cadetblue;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
        
    }
    .container{
        height: 50vh;
        width: 50vh;
        text-align: center;
        background-color: aqua;
        border:4px solid black;
        margin-top: 15vh;
    
    }
    .inputdata{
        margin-bottom: 30px;
    }
    .inputdata label{
        font-size: 20px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        display: block;
        margin-bottom: 10px;
        text-align: center;
    }
    .inputdata input[type="text"]
    {
        padding: 5px;
        background-color: aliceblue;
        width: 75%;
    }
    .btn button[type="submit"]{
        background-color: rgb(77, 143, 143);
        padding: 20px;
        width: 100px;
        border-radius: 50px;
    }
    .btn button[type="submit"]:hover{
        background-color: rgb(3, 54, 54);
    }
    
}
.h1{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 10vh;
}
