
.image{
    margin-left: 68vh;
}
.container{
    border: 1px solid black;
    border-radius: 1px;
    height: 45vh;
    width: 48vh;
    margin-left: 70vh; 
}
.signin{
    margin-bottom: 2vh;
    font-size: 30px;
    margin-left: 2vh;
    margin-top: 2vh;
}
.email{
    margin-bottom: 1vh;
    margin-left: 2vh;
}
.inputdata input[type=text]{
 padding: 5px;
 width: 85%;
 margin-bottom: 2vh;
 margin-left: 2vh;
}
.btn button[type=submit]{
    padding: 5px;
    width: 90%;
    background-color: yellow;
    margin-left: 2vh;
    
}
.btn button[type=submit]:hover{
background-color: rgb(132, 132, 52);
}
.help a{
    margin-left: 2vh;
  margin-top: 5vh;
}
.para p{
    margin-left: 2vh;
    margin-bottom:0vh;
}
.use a{
   
    margin-bottom: 5vh;
     margin-left: 2vh;
} 
.new p{
    margin-left: 85vh;
    margin-bottom: 2vh;
}
.bttn button[type=submit]{
    background-color: white;
    margin-left: 70vh;
    width: 25%;
    height: 5vh;
    
}
 .terms ul,li{
    display: inline-block;
    margin-left: 26vh;
    margin-right: -15vh;
    padding-left: 2vh;
    
}
.add p{
    margin-left: 70vh;
}
