
.ig{
   background-image:url(pv.1);
  background-repeat: no-repeat;
   background-size: cover ;
   height: 500px;
}
.ig h1{
    font-size: 2.8rem;
    line-height: 3.1rem;
    padding-top: 8vh;
    padding-left: 5vh;
    color: white;
}
.ig h2{
    color: white;
    font-size: 25px;
    padding-top: 5vh;
    padding-left: 5vh;
}
.ig button[type=submit]{
    background-color: rgb(30, 130, 184);
    color: white;
    height: 8vh;
    width: 50vh;
    font-size: 20px;
    margin-left: 5vh;
    border-radius: 0.5rem;

}
.ig2{
    background-image: url(pv.2);
    background-repeat: no-repeat;
   background-size: cover ;
   height: 500px;
}
.ig2 h1{
    color: white;
    padding-top: 5vh;
    padding-left: 5vh;
    font-size: 40px;
}
.ig2 h2{
    color: white;
    padding-left: 5vh;
    font-size: 20px;
    padding-top: 3vh;
}
.ig2 button[type=submit]{
    margin-left: 5vh;
    margin-top: 7vh;
    background-color:  rgb(30, 130, 184);
    color: white;
    height: 8vh;
    width: 50vh;
    font-size: 20px;
    border-radius: 0.5rem;
}
.pg3{
    margin-left: 5vh;
    margin-top: 3vh;
}
.para h6{
    margin-left: 5vh;
    font-size: 25px;
    margin-top: 4vh;
    height: 60vh;
}
.ig3{
    background-image: url(pv.3);
    background-repeat: no-repeat;
    background-size: cover ;
    height: 500px;
}
.ig3 h1{
    padding-left: 100vh;
    color: white;
    padding-top: 5vh;
    font-size: 40px;
}
.ig3 h5{
    padding-left: 100vh;
    padding-top: 5vh;
    color: white;
}
.ig4 img{
    margin-top: 5vh;
    margin-left: 85vh;
}
.poo ul,li{
    display: inline-block;
    margin-left: 26vh;
    margin-right: -15vh;
    padding-left: 2vh;
    color: blue;
}
.addr{
    margin-left: 70vh;
    color: #949494;;
}
.hole{
    background-color: #222222;
    height: 25vh;
}
.grid-container{
    margin-left: 95vh;
    display: flex;
  flex-wrap: wrap;
    display: grid;
  grid-template-columns: auto auto auto ;
  gap: 2px;
  padding: 2px;
  margin-top: -82vh;
  justify-content: space-around;
  justify-items: flex-start;
}
.grid-container img{
    height: 20vh;
    width: 30vh;
}
